

<form id="formManager" class="form">
    <h2>Administrator Manager</h2>
    <p class="message">Wanna go Back?<a href="https://ecommerce-production-f895.up.railway.app/products">Return to Main Catalog</a></p>
    <div id="GVUsersInfo" hidden="hidden"></div>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/adminManager.js"></script>