<div class="recover-page">
  <div class="form">
    <h2>Recover Password Form</h2>
    <form action="https://ecommerce-production-f895.up.railway.app/api/Recover/sendEmail" method="post">

      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <button type="submit" id="btnSend">Send Recover Link</button>

      <p class="message">Wanna go Back?<a href="https://ecommerce-production-f895.up.railway.app/login">Return to Login</a></p>

    </form>
  </div>
</div>

